<!-- Botón de alta -->

<button routerLink="/cliente/nuevo" class="btn btn-block btn-outline-dark mb-5">Alta
     Cliente</button>


<!-- Lista de proveedores -->

<table class="table table-hover ">
    <thead class="thead-dark ">
        <tr>
            <th scope="col ">#</th>
            <th scope="col ">Nombre</th>
            <th scope="col ">Pais</th>
            <th scope="col ">Email</th>
            <th scope=" "></th>
        </tr>
    </thead>
    <tbody *ngFor=" let cliente of clientes; let i = index ">
        <tr>
            <th scope="row ">{{ i + 1 }}</th>
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.pais}}</td>
            <td>{{cliente.email}}</td>
            <button [routerLink]="['/cliente', cliente.codigo]" class=" btn btn-dark btn-outline-light mt-1">Editar</button>
        </tr>
    </tbody>
</table>

<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div *ngIf="!cargando && clientes.length === 0" class="alert alert-warning text-center mt-3">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>